* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'PT Mono', monospace;
  font-size: 10vw;
  letter-spacing: 1vw;
  color: white;
}

h2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 3vw;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
  color: white;
}

p {
  font-family: 'Inconsolata', monospace;
  font-size: 2vw;
  height: 60vh;
  color: #00e01a;
  line-height: 3vw;
}

span {
  color: #d9343a;
  white-space: pre-wrap;
  font-weight: bold;
}

.mainContent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "intro"
  "dissAnon"
  "intTox"
  "netNeu"
  "mod"
  "hardBan";
}

.introduction {
  grid-area: intro;
  background-color: black;

  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-areas:
  "quote quote quote quote quote quote quote quote quote quote quote quote quote"
  "area1 area1 area1 line1 line1 line1 line1 line1 line1 line1 . . ."
  "area1 area1 area1 . . line2 line2 line2 line2 line2 line2 line2 ."
  "area2 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2 area2"
  "line3 line3 line3 line3 line3 line3 line3 line3 line3 line3 line3 line3 line3"
  "area3 area3 area3 area3 area3 line4 line4 line4 line4 line4 line4 line4 line4"
  ". . . . area4 area4 area4 area4 area4 area4 area4 area4 area4"
  "area5 area5 area5 area5 area5 area5 area5 area5 area5 . . . ."
  "line5 line5 line5 line5 line5 line5 line5 line5 line5 line5 line5 line5 line5"
  "area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 area6"
  "line6 line6 line6 line6 line6 line6 line6 line6 line6 line6 line6 line6 line6"
  "line7 line7 line7 line7 line7 line7 line7 line7 line7 line7 line7 line7 line7"
  "line8 line8 line8 line8 line8 line8 line8 line8 line8 line8 line8 line8 line8"
  "area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7"
  "line9 line9 line9 line9 line9 line9 line9 line9 line9 line9 line9 line9 line9"
  "line10 line10 line10 line10 line10 line10 line10 line10 line10 line10 line10 line10 line10";
}

.introduction h2 {
  grid-area: quote;
}

.vis1, .vis2, .vis3, .vis4, .vis5, .vis6, .vis7, .vis8, .vis9, .vis10, .vis11, .vis12, .vis13, .vis14 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vis1 {
  grid-area: area1;
}

.vis1 img {
  height: 20vw;
  margin-left: 5vw;
}

.vis2 {
  grid-area: area2;
}

.vis2 img {
  height: 30vw;
  margin-top: 20vh;
}

.vis3 {
  grid-area: area3;
}

.vis3 img {
  height: 30vw;
  margin-left: 10vw;
}

.vis4 {
  grid-area: area4;
}

.vis4 img {
  height: 30vw;
  margin-top: 10vh;
}

.vis5 {
  grid-area: area5;
}

.vis5 img {
  height: 25vw;
  margin-top: 20vh;
}

.vis6 {
  grid-area: area6;
}

.vis6 img {
  height: 30vw;
  margin-top: 20vh;
}

.vis7 {
  grid-area: area7;
}

.vis7 img {
  height: 20vw;
}

.vis7 img:nth-of-type(1) {
  margin-top: -20vh;
}

.vis7 img:nth-of-type(2) {
  height: 10vw;
  margin-top: 10vh;
  margin-left: 10vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.vis7 img:nth-of-type(3) {
  height: 15vw;
  margin-top: 30vh;
  margin-left: 5vw;
}

.introduction p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduction p:nth-of-type(1) {
  grid-area: line1;
  height: 30vh;
}

.introduction p:nth-of-type(2) {
  grid-area: line2;
  height: 40vh;
}

.introduction p:nth-of-type(3) {
  grid-area: line3;
  height: 20vh;
  margin-top: 50vh;
  margin-left: -30vw;
}

.introduction p:nth-of-type(4) {
  grid-area: line4;
  height: 20vh;
  margin-top: 50vh;
  margin-left: 10vw;
}

.introduction p:nth-of-type(5) {
  grid-area: line5;
  height: 100vh;
  margin-top: 30vh;
  margin-bottom: -40vh;
}

.introduction p:nth-of-type(6) {
  grid-area: line6;
  height: 20vh;
  margin-top: 40vh;
  margin-left: -70vw;
}

.introduction p:nth-of-type(7) {
  grid-area: line7;
  height: 10vh;
}

.introduction p:nth-of-type(8) {
  grid-area: line8;
  height: 10vh;
  margin-left: 70vw;
}

.introduction p:nth-of-type(9) {
  grid-area: line9;
  height: 100vh;
}

.introduction p:nth-of-type(10) {
  grid-area: line10;
  height: 100vh;
  margin-bottom: 20vh;
  font-weight: bold;
  font-size: 5vw;
}

.dissociativeAnonymity {
  grid-area: dissAnon;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-areas:
  "secTitle secTitle secTitle secTitle secTitle secTitle secTitle secTitle secTitle secTitle secTitle secTitle secTitle"
  "line1 line1 line1 line1 line1 line1 line1 line1 line1 line1 line1 line1 line1"
  "line2 line2 line2 line2 line2 line2 line2 line2 line2 line2 line2 line2 line2"
  "line3 line3 line3 line3 line3 line3 line3 line3 line3 line3 line3 line3 line3"
  "area8 area8 area8 area8 area8 area8 area8 area8 area8 area8 area8 area8 area8"
  "line4 line4 line4 line4 line4 line4 line4 line4 line4 line4 line4 line4 line4"
  "area9 area9 area9 area9 line5 line5 line5 line5 line5 line5 line5 line5 line5"
  "line6 line6 line6 line6 line6 line6 line6 line6 line6 line6 line6 line6 line6"
  "area10 area10 area10 area10 area10 area10 area10 area10 area10 area10 area10 area10 area10"
  "line7 line7 line7 line7 line7 line7 line7 area11 area11 area11 area11 area11 area11"
  "line8 line8 line8 line8 line8 line8 line8 line8 line8 line8 line8 line8 line8";
}

.dissociativeAnonymity h2 {
  grid-area: secTitle;
}

.dissociativeAnonymity p:nth-of-type(1) {
  grid-area: line1;
  height: 5vh;
  margin-left: 10vw;
}

.dissociativeAnonymity p:nth-of-type(2) {
  grid-area: line2;
  height: 5vh;
  margin-left: 10vw;
}

.dissociativeAnonymity p:nth-of-type(3) {
  grid-area: line3;
  height: 5vh;
  margin-left: 10vw;
}

.vis8 {
  grid-area: area8;
}

.vis8 img {
  height: 20vw;
}

.vis8 img:nth-of-type(1) {
  height: 10vw;
  margin-top: 80vh;
  padding: 0 5vw;
}

.vis8 img:nth-of-type(3) {
  height: 10vw;
  margin-top: 40vh;
  padding: 0 5vw;
}

.dissociativeAnonymity p:nth-of-type(4) {
  grid-area: line4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vis9 {
  grid-area: area9;
}

.vis9 img {
  height: 35vw;
  margin-left: 15vw;
  margin-top: -40vh;
}

.dissociativeAnonymity p:nth-of-type(5) {
  grid-area: line5;
  margin-left: 20vw;
  margin-right: 3vw;
  margin-top: 20vh;
  height: 70vh;
  line-height: 3vw;
}

.dissociativeAnonymity p:nth-of-type(6) {
  grid-area: line6;
  margin-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.vis10 {
  grid-area: area10;
}

.vis10 img {
  height: 15vw;
  margin-top: -30vh;
}

.vis10 img:nth-of-type(2) {
  height: 10vw;
}

.dissociativeAnonymity p:nth-of-type(7) {
  grid-area: line7;
  margin-left: 5vw;
  margin-top: 40vh;
}

.vis11 {
  grid-area: area11;
}

.vis11 img {
  height: 20vw;
  margin-top: 50vh;
}

.dissociativeAnonymity p:nth-of-type(8) {
  grid-area: line8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20vh;
}

.internetToxicity {
  grid-area: intTox;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-areas:
  "line1 line1 line1 line1 line1 line1 line1 line1 line1 line1 line1 line1 line1"
  "area12 area12 area12 area12 area12 area12 area12 area12 area12 area12 area12 area12 area12"
  "line2 line2 line2 line2 line2 line2 line2 line2 area13 area13 area13 area13 area13"
  "area14 area14 area14 area14 area14 area14 line3 line3 line3 line3 line3 line3 line3";
}

.internetToxicity p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.internetToxicity p:nth-of-type(1) {
  grid-area: line1;
}

.vis12 {
  grid-area: area12;
}

.vis12 img {
  height: 40vw;
  margin-top: -20vh;
}

.internetToxicity p:nth-of-type(2) {
  grid-area: line2;
  margin-left: 5vw;
  height: 70vh;
}

.vis13 {
  grid-area: area13;
}

.vis13 img {
  height: 17vw;
  margin-top: 20vh;
  margin-left: -5vw;
}

.internetToxicity p:nth-of-type(3) {
  grid-area: line3;
  height: 70vh;
  margin-top: 20vh;
}

.vis14 {
  grid-area: area14;
}

.vis14 img {
  height: 25vw;
  margin-top: 30vh;
}

.netNeutrality {
  grid-area: netNeu;
}

.netNeutrality p:nth-of-type(1) {
  margin-top: 50vh;
}

.netNeutrality p:nth-of-type(4) {
  margin-left: 40vw;
}

.netNeutrality p:nth-of-type(5) {
  margin-left: -40vw;
}

.netNeutrality p:nth-of-type(7) {
  margin-top: 40vw;
}

.netNeutrality p:nth-of-type(10) {
  margin-left: -50vw;
}

.netNeutrality p:nth-of-type(11) {
  margin-left: 50vw;
}

.netNeutrality p:nth-of-type(12) {
  height: 20vh;
  margin-top: 30vh;
  margin-left: -20vw;
}

.netNeutrality p:nth-of-type(13) {
  height: 20vh;
  margin-left: 10vw;
  margin-bottom: 50vh;
}

.moderation {
  grid-area: mod;
}

.moderation p:nth-of-type(4) {
  margin-left: 40vw;
}

.moderation p:nth-of-type(6) {
  height: 70vh;
  margin-left: -60vw;
}

.moderation p:nth-of-type(7) {
  height: 70vh;
}

.moderation p:nth-of-type(8) {
  height: 70vh;
  margin-left: 60vw;
}

.moderation p:nth-of-type(9) {
  height: 70vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 30vh;
  line-height: 3vw;
  text-align: center;
}

.hardwareBanning {
  grid-area: hardBan;
}

.hardwareBanning p:nth-of-type(2) {
  margin-left: -60vw;
}

.hardwareBanning p:nth-of-type(3) {
  margin-left: 60vw;
}

.hardwareBanning p:nth-of-type(4) {
  margin-left: 20vw;
  margin-right: 20vw;
  line-height: 3vw;
  text-align: center;
}

.hardwareBanning p:nth-of-type(5) {
  height: 100vh;
}
